@using WebQL_DienDanDung.Models;
@model List<tbl_ProductOfBill>
@{
    ViewBag.Title = "ChiTietHD1";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<style type="text/css">
    #father {
        width: 400px;
        overflow: auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    table, th, td {
        border: 1px solid #151313;
    }

    th, td {
        text-align: left;
        padding: 10px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>

<div>
    <a href="@Url.Action("HoaDon","HoaDon")" style="padding: 0 50% 0 2%;">
        <i type="button" class="fas fa-arrow-alt-circle-left btn btn-dark"></i>
    </a>
    @if (Convert.ToString(Session["TrangThai1"]) == "False")
    {
        <a style="float: right;padding: 2% 2% 0 2%;">
            <i type="button" class="far fa-calendar-plus btn btn-dark" onclick="document.getElementById('themcthd').style.display='block'"></i>
        </a>
    }

    <div class="box" style="text-align:center;font-size: 18px;">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Nhập từ cần tìm..." title="Type in a name">
        <a class="fas fa-search" style="color:white;width:60px;"></a>
    </div>
    <div id="themcthd" class="modal">
        <form class="modal-content animate" action="@Url.Action("ThemCTHD1","HoaDon")" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('themcthd').style.display = 'none'" class="close" title="Close Modal"><i class="fas fa-backspace"></i></span>
            </div>
            <div class="form-group row" style="display:none;">
                <label class="col-sm-3 col-form-label">Số Hóa Đơn:</label>
                <div class="col-sm-8">
                    <input style="text-align:center" type="text" class="form-control" name="sohoadon" value="@Session["cthd1"]" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Chọn Sản Phẩm:</label>
                <div class="col-sm-8">
                    <select name="tensp" id="tensp" class="form-control" style="width:100%;height:34px;font-weight:700;" required>
                        @Html.Action("Lay_SP", "Admin")
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Số Lượng:</label>
                <div class="col-sm-8">
                    <input style="text-align:center" type="number" class="form-control" name="soluong" placeholder="Nhập Số Lượng..." required>
                </div>
            </div>
            <div style="text-align:right;width:auto;font-size: 2.0em;padding: 0 12% 0 0">
                <button type="submit"><i class="fas fa-calendar-check"></i></button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr class="header" style="background-color:black; color:white;">
                <th style="text-align: center;"> Tên Sản Phẩm</th>
                <th style="text-align: center;"> Số Lượng</th>
                <th style="text-align: center;"> Đơn Giá</th>
                <th style="text-align: center;">Tổng Tiền</th>
                <th style="text-align: center; width: 1%;"></th>
                <th style="text-align: center; width: 1%;"></th>
            </tr>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center">@item.tbl_Product.ProductName</td>
                        <td style="text-align:center">@item.Number</td>
                        <td style="text-align:center">@String.Format("{0:0,0,0}", item.tbl_Product.Cost) VNĐ</td>
                        <td style="text-align:center">@String.Format("{0:0,0,0}", (item.Number * item.tbl_Product.Cost)) VNĐ</td>
                        @if (Convert.ToString(item.tbl_Bill.Status) == "False")
                        {
                            <td><a href="@Url.Action("SuaCTHD", "HoaDon", new { id_cthd = item.BillId, id_msp = item.ProductId })" class="fas fa-pen-square" style="font-size:25px;"></a></td>
                            <td><a href="@Url.Action("XoaCTHD", "HoaDon", new { id_cthd = item.BillId, id_msp = item.ProductId })" class="fas fa-trash" style="font-size:25px"></a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*Tìm kiếm*@
<script>
    $(document).ready(function () {
        $('#myInput').on('keyup', function (event) {
            event.preventDefault();
            /* Act on the event */
            var tukhoa = $(this).val().toLowerCase();
            $('#myTable tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(tukhoa) > -1);
            });
        });
    });
</script>
