@{
    ViewBag.Title = "XoaSP";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container" style="padding: 3% 20% 0 20%;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <form>
            <table class="table table-bordered">
                <tr>
                    <td scope="col" style="width:25%;text-align:left;">Tên Sản Phẩm</td>
                    <td scope="col" style="text-align:center;">@Model.ProductName</td>
                </tr>
                <tr>
                    <td scope="col" style="width:25%;text-align:left;">Số Lượng</td>
                    <td scope="col" style="text-align:center;">@Model.NumberOfProduct</td>

                </tr>
                <tr>
                    <td scope="row" style="width:25%;text-align:left;">Giá</td>
                    <td style="text-align:center;">@String.Format("{0:0,0}", Model.Cost)</td>

                </tr>
                <tr>
                    <td scope="row" style="width:25%;padding-top: 10%;text-align:left;">Hình Ảnh</td>
                    <td colspan="2" style="text-align:center;"><img src="~/Content/img/@Model.ProductImage" style="max-height:200px" width="200px" /></td>

                </tr>
                <tr>
                    <td scope="row" style="width:25%;text-align:left;">Thời gian bảo hành</td>
                    <td colspan="2" style="text-align:center;">@Model.ExpiryDate tháng</td>

                </tr>
                <tr>
                    <td scope="row" style="width:25%;text-align:left;">Nhóm Sản Phẩm</td>
                    <td colspan="2" style="text-align:center;">@Session["TenNSP"]</td>

                </tr>
                <tr>
                    <td scope="row" style="width:25%;text-align:left;">Nhà Sản Xuất</td>
                    <td colspan="2" style="text-align:center;">@Session["TenNSX"]</td>

                </tr>
            </table>
            <div style="text-align: right;">
                <button class="button" type="submit"><i style="text-align: center; width: auto; font-size: 2.0em;" class="fas fa-trash"></i></button>
                <a href="@Url.Action("QL_SanPham", "Admin", new { msp = @Model.TypeId })"><i style="text-align: center; width: auto; font-size: 2.0em;" class="fas fa-share-square"></i></a>
            </div>
        </form>

    }
</div>