@using WebQL_DienDanDung.Models;
@model List<tbl_Product>
@{
    ViewBag.Title = "AllSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <p style="font-weight:bold;font-size:18px ">
            <marquee direction="left">Danh Mục Sản Phẩm</marquee>
        </p>

    </div>
    <div class="row">
        <div class="col-lg-2">
            Tìm Kiếm Theo Giá
        </div>
        <div class="col-lg-10">
            @if (Model != null)
            {
                foreach (tbl_Product sp in Model)
                {
                    <div class="col-md-4 col-sm-4 col-6" id="products" style="text-align:center; margin-bottom:10px;">
                        <div class="item-product">
                            <div class="anh">
                                <a href="@Url.Action("Details", "SanPham", new { id = sp.Id })"><img src="~/Content/img/@sp.ProductImage" style="max-height:200px" width="200px" /></a>
                            </div>
                            <div class="ten">
                                <h5><a class="text-name-product" href="@Url.Action("Details", "SanPham", new { id = sp.Id })">@sp.ProductName</a></h5>
                            </div>
                            <div class="gia">
                                <h5>Giá: @string.Format("{0:N0}", sp.Cost) VNĐ</h5>
                            </div>
                            <div class="review">
                                <i class="fa fa-star" style="color:#FFC120;"></i>
                                <i class="fa fa-star" style="color:#FFC120;"></i>
                                <i class="fa fa-star" style="color:#FFC120;"></i>
                                <i class="fa fa-star" style="color:#FFC120;"></i>
                                <i class="fa fa-star"></i>
                                <p>15 Reviews</p>
                            </div>
                            <div class="dat" style="padding-top:5px">
                                <a href="@Url.Action("AllSanPham", "SanPham", new {@strURL=Request.Url.ToString()})" onclick="return alert('Đặt hàng thành công!.')">
                                    <button type="button" class="btn btn-info" style="width:150px">
                                        <i class="fab fa-opencart"> ĐẶT MUA</i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

